.section {
  padding: 20px 10px 2px 10px;
  border-bottom: 1px solid #f8f8f8;
  margin-bottom: 5px;

  &.active {
    background-color: #f8f8f8;
    border-radius: 6px;
    height: 100px;
  }
}

.marginRight {
  margin-right: 10px;
}

.fullName {
  margin-right: 1px;
}

.userPlaceholder {
  width: 60px;
  height: 60px;
}
