.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media print {
  [id^="root"] {
    header {
      display: none;
    }
  }

  [id^="patron-details"],
  [id^="item-details"] {
    height: auto;
    padding: 0 20px;
    border: none;
  }
  [id^="patron-details"] {
    display: block;

    [id^="patron-details-content"] {
      width: auto;
      padding: 15px 0 25px;
      margin-left: 15px;
      margin-right: 15px;
      border-bottom: 1px solid var(--color-text);
    }
  }

  [id^="patron-form"],
  [id^="section-item"],
  [class^="paneHeader"] {
    display: none;
  }
}
